#main {
  margin-top: 40px;
}

.thread-cell {
  padding-bottom: 20px;
}

td {
  padding-right: 10px;
}

.thread-list {
  border-spacing: 20px;
  border: 2px;
}

.score-indicator {
  font-size: 1.25em;
}