<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>{% block title %}PyReddit{% endblock %}</title>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">PyReddit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">
            {% block subname %}Home{% endblock %}
          </a>
          <a class="nav-item nav-link" href="#">Trending</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container" id="main">
    <div class="row">
      <div class="col-sm-8">
        {% block content %}
          <table class="thread-list">
            <tbody>
            {% for thread in threads %}
              <tr>
                <td class="upvote-link">⇡</td>
                <td class="score-indicator" rowspan="2">{{ thread.get_score() }}</td>
                <td class="title">
                  <a href="
                    {% if thread.is_link() %}
                      {{ thread.link }}
                    {% else %}
                      /text/{{ thread.id }}
                    {% endif %}
                  ">{{ thread.title }}</a> {% if not thread.is_link() %}<i>(self.{{thread.subreddit.name}})</i>{% endif %}
                </td>
              </tr>
              <tr class="thread-cell">
                <td>⇣</td>
                <td>by {{ thread.user.name }} {{ thread.get_time() }} |
                  <a href="/{% if thread.is_link() %}link{% else %}text{% endif %}/{{ thread.id }}">{{ thread.comments.count() }} comments</a> </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% endblock %}
      </div>
      <div class="col-sm-4" id="sidebar">
        {% if subreddit_list %}
          <h3>Subreddits</h3>
          {% for s in subreddit_list %}
            <ul>
              <li><a href="/r/{{s.name}}">{{ s.name }}</a></li>
            </ul>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>