{% extends "base.html" %}

{% block title %}
{{ link.title }}
{% endblock %}

{% block subname %}
{{ sub.name }}

{% endblock %}

{% block content %}
<table>
  <tbody>
    <tr>
      <td class="upvote-link thread" onclick="upvoteThread({{link.id}}, 'True')">⇡</td>
      <td class="score-indicator thread" rowspan="2">{{ link.get_score() }}</td>
      <td class="title thread" id="link-thread">
        <a href="{{ link.link }}">{{ link.title }}</a>
      </td>
    </tr>
    <tr class="thread-cell">
      <td class="thread" onclick="downvoteThread({{link.id}}, 'True')">⇣</td>
      <td class="thread">by {{ link.user.name }} {{ link.get_time() }} | {{ link.comments.count() }} comments</td>
    </tr>
  </tbody>
</table>


<br>
<form method="POST" action="/link/{{link.id}}/reply">
  <div class="form-group">
    <textarea class="form-control" name="content" id="reply-link"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>


<br>
<br>

<h4>Comment section</h4>
<hr>

<table class="comment-list">
  <tbody>
    {%- for item in comments recursive %}
      <tr>
        <td class="upvote-comment">⇡</td>
        <td class="comment-score" rowspan="2">{{ item.get_score() }}</td>
        <td class="comment-content">{{ item.content }}</td>
      </tr>

      <tr>
        <td>⇣</td>
        <td class="comment-author description">by {{ item.user.name }} | <a href="/comment/{{ item.id }}/reply">reply</a> </td>
      </tr>

      {%- if item.children -%}
      <tr>
        <td></td>
        <td></td>
        <td><table><tbody>{{ loop(item.children) }}</tbody></table></td>
      </tr>
      {%- endif %}</li>

    {%- endfor %}
  </tbody>
</table>

{% endblock %}