{% extends "base.html" %}

{% block title %}
{{ text.title }}
{% endblock %}

{% block subname %}
{{ sub.name }}

{% endblock %}

{% block content %}
<table>
  <tbody>
    <tr>
      <td class="upvote-text thread" onclick="upvoteThread({{text.id}}, 'False')">⇡</td>
      <td class="score-indicator thread" rowspan="2">{{ text.get_score() }}</td>
      <td class="title thread" id="link-text">{{ text.title }}</td>
    </tr>
    <tr class="thread-cell">
      <td class="thread" onclick="downvoteThread({{text.id}}, 'False')">⇣</td>
      <td class="thread">by {{ text.user.name }} {{ text.get_time() }} | {{ text.comments.count() }} comments</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td id="textarea"><p>{{ text.text }}</p></td>
    </tr>
  </tbody>
</table>

<br>
<form method="POST" action="/text/{{text.id}}/reply">
  <div class="form-group">
    <textarea class="form-control" name="content" id="reply-text"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<br>
<br>

<h4>Comment section</h4>
<hr>

<table class="comment-list">
  <tbody>
    {%- for item in comments recursive %}
      <tr>
        <td class="upvote-comment">⇡</td>
        <td class="comment-score" rowspan="2">{{ item.get_score() }}</td>
        <td class="comment-content">{{ item.content }}</td>
      </tr>

      <tr>
        <td>⇣</td>
        <td class="comment-author description">by {{ item.user.name }} | <a href="/comment/{{ item.id }}/reply">reply</a> </td>
      </tr>

      {%- if item.children -%}
      <tr>
        <td></td>
        <td></td>
        <td><table><tbody>{{ loop(item.children) }}</tbody></table></td>
      </tr>
      {%- endif %}</li>

    {%- endfor %}
  </tbody>
</table>

{% endblock %}